name: Scraper0

on:
  workflow_dispatch:
    inputs:
      scraping_url:
        description: 'URL to scrape'
        required: false
        type: string
      scraping_url_2:
        description: 'URL to scrape for scraper2'
        required: false
        type: string

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python Environment
      uses: ./.github/actions/setup-python-environment
      with:
        python-version: '3.9'
        use-cache: 'true'

    - name: Run Scrapers
      uses: ./.github/actions/run-scrapers
      with:
        delay-seconds: '0'
        use-venv: 'true'
        run-scraper1: 'true'
        run-scraper2: 'true'
        run-scraper-intl: 'false'
        scraping-url: ${{ inputs.scraping_url || vars.SCRAPING_URL }}
        scraping-url-2: ${{ inputs.scraping_url_2 || vars.SCRAPING_URL_2 }}
        telegram-bot-token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        telegram-channel-id: ${{ secrets.TELEGRAM_CHANNEL_ID }}