name: Scraper

on:
  workflow_dispatch: # Allow manual triggering
    inputs:
      scraping_url:
        description: 'URL to scrape'
        required: false
        type: string
      scraping_url_2:
        description: 'URL to scrape for scraper2'
        required: false
        type: string
jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: pip install -r requirements.txt
    
    # - name: Install dependencies
    #   run: |
    #     python -m pip install --upgrade pip
    #     pip install -r requirements.txt
        
    - name: Run scraper
      id: scraper1
      continue-on-error: true
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
        SCRAPING_URL: ${{ inputs.scraping_url || vars.SCRAPING_URL }}
      run: |
        python scraper.py

    - name: Run scraper2
      id: scraper2
      continue-on-error: true
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
        SCRAPING_URL_2: ${{ inputs.scraping_url_2 || vars.SCRAPING_URL_2 }}
      run: |
        python scraper2.py

    - name: Check scraper results
      run: |
        echo "Scraper 1 result: ${{ steps.scraper1.outcome }}"
        echo "Scraper 2 result: ${{ steps.scraper2.outcome }}"
        if [[ "${{ steps.scraper1.outcome }}" == "failure" || "${{ steps.scraper2.outcome }}" == "failure" ]]; then
          echo "At least one scraper failed. Failing the workflow."
          exit 1
        else
          echo "All scrapers completed successfully."
        fi