name: International Scraper

on:
  workflow_dispatch: # Allow manual triggering
    inputs:
      scraping_url_intl:
        description: 'International ETB URL to scrape'
        required: false
        type: string

jobs:
  scrape:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Python Environment
      uses: ./.github/actions/setup-python-environment
      with:
        python-version: '3.9'
        use-cache: 'false'

    - name: Run Scrapers
      uses: ./.github/actions/run-scrapers
      with:
        delay-seconds: '0'
        use-venv: 'false'
        run-scraper1: 'false'
        run-scraper2: 'false'
        run-scraper-intl: 'true'
        scraping-url-intl: ${{ inputs.scraping_url_intl || vars.SCRAPING_URL_INTL }}
        telegram-bot-token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        telegram-channel-id: ${{ secrets.TELEGRAM_CHANNEL_ID }}